@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600k&display=swap");

* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .lang {
    flex-direction: column;
    gap: 10px;
  }
  .nav img {
    width: 50%;
  }
  .tx > :first-child {
    font-size: 24px;
  }
  .tx > :nth-child(2),
  .tx > :nth-child(3) {
    font-size: 14px;
  }
  .gts {
    width: 100%;
  }
  .main input {
    width: 100%;
  }
  .tv img,
  .mc img,
  .shn img {
    width: 100%;
  }
  .lst input {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  .ft-ln {
    flex-direction: column;
    gap: 20px;
  }
}

body {
  background-color: black;
}
.main {
  height: 500px;
  width: 100%;
  background-image: url("first.jpg");
  background-size: 1500px;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
}
.main .cont1 {
  /* border: 2px solid black; */
  height: 500px;
  width: 100%;
  /* width: 100px; */
  /* border-bottom: 10px solid rgba(247, 255, 253, 0.228); */
  position: absolute;
  top: 0;
  opacity: 0.7;
  background-color: black;
  border-bottom: 10px solid rgb(75, 71, 71);
  color: white;
}
.tx {
  height: 60%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* font-weight: bold; */
  padding: 30px;

  font-family: "Martel Sans", sans-serif;
  position: relative;
}
.tx > :first-child {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
.tx > :nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.tx > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.rd {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
nav {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  z-index: 10;
}
nav img {
  color: red;
}
nav select {
  width: 120px;
  height: 35px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: transparent;
}
nav select option {
  border-radius: 6px;
  font-weight: bold;
  color: white;
  text-align: center;
  background: black;
}
nav button {
  width: 80px;
  height: 35px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  text-align: center;
}
button:hover {
  cursor: pointer;
}
.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}
.lang .b2 {
  border: 2px solid rgba(128, 128, 128, 0.7);
  width: 125px;
  height: 35px;
  position: relative;
  z-index: 1;
  font-weight: bold;
  background-color: black;
  color: white;
}

.lang .b1 {
  border: 2px solid rgba(128, 128, 128, 0.7);
  font-weight: bold;
  background-color: red;
  color: white;
}
/* input [type="text"]{
    border: 10px solid gray;
    height: 1000px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 24px; 
} */
.gts {
  text-align: center;
  font-weight: bold;
  background-color: red;
  color: white;
  border-radius: 5px;
  height: 60px;
  width: 250px;
  font-size: 18px;
  border: none;
}
.main input {
  position: relative;
  z-index: 10;
  font-weight: bold;
  background-color: #241f1fb8;
  /* padding-left: 1px; */
  color: white;
  border-radius: 5px;
  height: 60px;
  width: 350px;
  font-size: 16px;
  padding-left: 10px;
  cursor: default;
  border: none;
}
/* .enj:nth-child(1){
   
   font-weight: 900;  
   font-size: 30px;
    text-align: center; 
   color: white; 
   font-family: 'Martel Sans', sans-serif;
} 
 .enj:nth-child(2){
   
    font-weight: lighter; 
     font-size: 14px;
     /* text-align: center; 
     color: white; 
  } */
.eng {
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}
.enj {
  font-weight: bolder;
  font-size: 48px;
}
.fst {
  color: white;
  /* max-width: 50vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-left: 40px;
  padding-bottom: 50px;
  border-bottom: 10px solid rgb(75, 71, 71);
}
.tv img {
  width: 500px;
  position: relative;
  top: 20px;
  left: -20px;
  /* right: 400px; */
  z-index: 1;
}
.tv video {
  position: absolute;
  top: 98px;
  left: 47px;
  width: calc(73%);
}
.tv {
  position: relative;
}
.eng {
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}
.dw {
  font-weight: bolder;
  font-size: 48px;
}
.fst {
  color: white;
  /* max-width: 50vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding-left: 40px;
  padding-bottom: 50px;
  border-bottom: 10px solid rgb(75, 71, 71);
}
.tv img {
  width: 500px;
  position: relative;
  top: 20px;
  left: -20px;
  /* right: 400px; */
  z-index: 1;
}
.tv video {
  position: absolute;
  top: 98px;
  left: 47px;
  width: calc(73%);
}
.tv {
  position: relative;
}
.str {
  border: 2px solid rgba(128, 128, 128, 0.7);
  width: 302px;
  position: absolute;
  top: 278px;
  left: 80px;
  background: rgb(0, 0, 0);
  z-index: 1;
  border-radius: 0.75rem;
  box-sizing: border-box;
  height: 92px;
  display: flex;
}

.str img {
  width: 50px;
  position: relative;
  top: 5px;
  left: 6px;
  height: 80px;
}
.down {
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue {
  color: rgba(52, 85, 152, 0.914);
}
.strong {
  font-weight: bold;
}
.mc video {
  position: relative;
  top: -220px;
  left: 244px;
  object-position: top left;
  width: calc(45%);
  height: 200px;
}
.mc img {
  width: 500px;
  position: relative;
  top: 110px;
  left: 150px;
  /* right: 400px; */
  z-index: 1;
}
.shn img {
  height: 400px;
}
.cr {
  font-size: 48px;
}
.ch {
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  margin-top: 10px;
  margin: 10px;
}
.faq {
  height: 800px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 10px solid rgb(75, 71, 71);
}

.hi h1 {
  font-size: 50px;
  font-weight: 900;
}
.ask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ask .bx {
  background-color: rgb(45, 45, 45);
  height: 70px;
  width: 1050px;
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 20px;
  font-size: 24px;
  cursor: pointer;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: faqq 3s ease-in 0s 1 ; */
}
@keyframes faqq {
  from {
    :hover .bx {
      background-color: rgb(45, 45, 45);
    }
  }
  to {
    :hover .bx {
      background-color: rgb(90, 85, 85);
    }
  }
}
/* :hover .bx{
    background-color: rgb(90, 85, 85);
    
    cursor: pointer;
  } */
.lst input {
  position: relative;
  z-index: 1;
  font-weight: bold;
  background-color: #241f1fb8;
  /* padding-left: 1px; */
  color: white;
  border-radius: 5px;
  height: 54px;
  width: 350px;
  font-size: 16px;
  padding-left: 10px;
  /* padding-top: 10px; */
  cursor: default;
}

.lst {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.em {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
input[type="email"] {
  border: none;
  height: 60px;
}
a {
  color: rgb(183, 178, 178);
  text-decoration: underline;
}
footer {
  color: rgb(175, 175, 175);
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 30px;
}
.ft-ln {
  display: flex;
  flex-direction: row;
  gap: 150px;
}
.ft-faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ft-hlp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ft-ac {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ft-mc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer select {
  position: relative;
  z-index: 10;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: black;
  /* background: transparent; */
}
footer select option {
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: black;
  /* background: transparent; */
  height: 500px;
}
footer .b2 {
  font-weight: bold;
  /* background: transparent; */
  color: white;
  background: blue;
}
